# maxOS Files
.DS_Store

# Folders
basic_assignment/titanic/.ipynb_checkpoints/
basic_assignment/titanic/output_data/
basic_assignment/spamham/
assignment2/data/
assignment2/.ipynb_checkpoints/
assignment2/Model/.ipynb_checkpoints/
assignment2/Model/data/
assignment2/Model/engineered_test_data.csv
assignment2/Model/engineered_training_data.csv
assignment2/Feature engineering/mode_columns_test.csv
assignment2/Feature engineering/mode_columns_train.csv
